.hero {
    background-color: $footer-background-color;
        text-align: center;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(./../images/hero-bg-mob.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 768px;
        padding: 118px 0;
        margin-left: auto;
        margin-right: auto;
    
        @media screen and (max-width: 768px) {
            @media screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(./../images/hero-bg-desk-2x.jpg);
            }
        }
    
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(./../images/hero-bg-tab.jpg);
            max-width: 1200px;
    
            @media screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(./../images/hero-bg-tab-2x.jpg);
            }
        }
    
        @media screen and (min-width: 1200px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(./../images/hero-bg-desk.jpg);
            padding: 200px 0px;
            max-width: 1600px;
    
            @media screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(./../images/hero.jpg);
            }
        }
    // background-color: $footer-background-color;
    // background-image: linear-gradient(to right,
    //         rgba(47, 48, 58, 0.4),
    //         rgba(47, 48, 58, 0.4)),
    //     url("../images/hero-bg-mob.jpg");

    // @media (min-device-pixel-ratio: 2),
    // (-webkit-min-device-pixel-ratio: 2),
    // (min-resolution: 192dpi),
    // (min-resolution: 2dppx) {
    //     background-image: linear-gradient(to right,
    //             rgba(47, 48, 58, 0.4),
    //             rgba(47, 48, 58, 0.4)),
    //         url("../images/hero-bg-mob-2x.jpg");
    // }

    // @media screen and (min-width: $tablet) {
    //     background-image: linear-gradient(to right,
    //             rgba(47, 48, 58, 0.4),
    //             rgba(47, 48, 58, 0.4)),
    //         url("../images/hero-bg-tab.jpg");

    //     @media (min-device-pixel-ratio: 2),
    //     (-webkit-min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //         background-image: linear-gradient(to right,
    //                 rgba(47, 48, 58, 0.4),
    //                 rgba(47, 48, 58, 0.4)),
    //             url("../images/hero-bg-tab-2x.jpg");
    //     }
    // }

    // @media screen and (min-width: $desktop) {
    //     background-image: linear-gradient(to right,
    //             rgba(47, 48, 58, 0.4),
    //             rgba(47, 48, 58, 0.4)),
    //         url("../images/hero-bg-desk.jpg");

    //     @media (min-device-pixel-ratio: 2),
    //     (-webkit-min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //         background-image: linear-gradient(to right,
    //                 rgba(47, 48, 58, 0.4),
    //                 rgba(47, 48, 58, 0.4)),
    //             url("../images/hero-bg-desk-2x.jpg");
    //     }
    // }

    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    // max-width: 100%;

    // @media screen and (min-width: $mobile) {
    //     max-width: $mobile;
    // }

    // @media screen and (min-width: $tablet) {
    //     max-width: $tablet;
    // }

    // @media screen and (min-width: $desktop) {
    //     max-width: 1600px;
    // }

    // margin-left: auto;
    // margin-right: auto;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 30px;
        padding: 118px 0px;
        width: 100%;

        @media screen and (min-width: $mobile) {
            width: $mobile;
        }

        @media screen and (min-width: $tablet) {
            width: $tablet;
        }

        @media screen and (min-width: $desktop) {
            padding: 200px 0px;
            width: $desktop;
        }
    }

    &__title {
        display: block;
        color: $white-color;
        font-weight: 900;

        @media screen and (min-width: $mobile) {
            font-size: 26px;
            line-height: 1.61;
        }

        @media screen and (min-width: $desktop) {
            font-size: 44px;
            line-height: 1.36;
        }

        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    &__button {
        display: inline-block;
        padding: 10px 24px;

        @media screen and (min-width: $tablet) {
            padding: 10px 32px;
        }

        color: $white-color;
        background-color: $accent-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
    }
}